MYSQL_DATABASE=books
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=books
#TYPEORM_HOST=mysql
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=books
TYPEORM_DATABASE=books
TYPEORM_PORT=3306
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/db/models/*.entity.ts
TYPEORM_MIGRATIONS=src/db/migrations/*.ts
TYPEORM_MIGRATIONS_RUN=src/db/migrations
TYPEORM_ENTITIES_DIR=src/db/models
TYPEORM_MIGRATIONS_DIR=src/db/migrations
TYPEORM_CONNECTION=mysql
